<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<h3>Thank you for showing your interest with us. Mike will contact you soon</h3>
  <p>Seller name : {{car_data.seller_name}} </p><br>
  <p>Seller contact : {{car_data.seller_mobile}}</p><br>
  <p>Vehical Make : {{car_data.make.name}}</p><br>
  <p>Vehical Make : {{car_data.make.name}}</p><br>
  <p>Vehical Model : {{car_data.car_model}}</p><br>
  <p>Interested party name : {{intersted_party_name}}</p><br>
  <p>Interested party number : {{intersted_party_number}}</p>
</table>
</body>
</html>




